
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
body::after{
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: var(--image);
    position: absolute;
    z-index: -1;
    filter: blur(8px);
}
.container{
    width: 300px;
    height: 550px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    background: rgba(10,10,10,0.1);
    border: 10px solid var(--red);
    box-shadow: 0 30px 30px -10px var(--red) ;
    position: relative;
    
}

p{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    font-weight: 300;
    padding-left: 50px;
}
h2,h4{
    text-shadow: 0 0 15px var(--black);
}
#right{
    padding-right: 30px;
}
span{
    font-weight: 900;
    font-size: 2em;
    transition: 0.6s;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;/* 7px */
    border: 6px solid var(--red);/* bottom 8px*/
    margin: 50px auto;
    background-repeat: no-repeat;
    background-image: url(img.png) ;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0px 20px 5px var(--red);
    animation: zoom 6s linear infinite paused;
}
.bottom{
    position: absolute;
    bottom: 0;
    padding: 10px ;
    background: var(--red);
    width: 100%;
}
 button , a{
    font-weight: 900;
    transform: scaleX(2);
}
#start{
    transform: scale(1.5);
}
#stop{
    display:none ;
}
.range {
    width: 170px;
    height: 6px;
    background: var(--black);
    border-radius: 20px;
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
}
.circle{
    width: 20px;
    height: 20px;
    background: var(--red);
    border-radius: 50%;
    position: absolute;
    left: 0;
    border: 3px solid var(--black);
    
}
h3{
    font-size: 16px;
    font-weight: 700;
}
h5{
    font-size: 16px;
    font-weight: 700;
}
.prange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
}
@keyframes move {
    100%{
        left: 100%;
        transform: translateX(-100%);
    }
}
button{
    background: var(--red);
    color: var(--black);
    font-size: 40px;
    transform: rotate(90deg);
    border: none;
    padding: 0px 10px;
    border-radius: 10px ;
    text-shadow: 0 0 10px var(--black);
    position: absolute; top: 5px;
    left: 20px;
    text-align: center;
    border-bottom: 5px solid var(--black);
}
a{
    text-decoration: underline 5px var(--black);
    color: var(--black);
}
@media (min-width:804px){
    body:after{
        filter: blur(15px);
    }
    .container{
        width: 300px;
        height: 450px;
    }
    .img{
        margin: 30px auto;
    }
    p{
        margin: 30px auto 10px;
    }
    button{
        transform: rotate(90deg) scale(1.12);
        left: 30px;
    }
}
@media (min-height:850px){
   .container{
       transform: scale(1.7);
   }
   
}
@keyframes zoom {
    50%{
        transform:rotate(180deg);       
    }
    100%{
        transform:rotate(360deg);       
    }
}
