*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--black) 70%,var(--red)) no-repeat;
    overflowX: hidden;
}
header{
    padding: 15px;
    background: var(--red);
    border: 10px double var(--black);
    border-radius: 10px;
}
h1{
    text-transform: uppercase;
    padding: 5px;
    background: var(--black);
    border: 10px double var(--red);
    text-align: center;
    border-radius: 10px;
    text-shadow: 0 0 10px white;
    letter-spacing: 10px;
    font-size: 50px;
    font-weight: 900;
    border-bottom: 10px solid white;
}

nav{
    width: 100%;
    padding: 5px;
    background: var(--black);
    border-left: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 20px solid var(--red);
}    
ul{
   background: var(--red);
   padding: 20px;
   width: 95%;
   display: flex;
   justify-content: space-between;
   align-items:center ;
   flex-wrap: wrap;
   margin: auto;
}
li{
    list-style: none;
    display: inline-block;
    margin: 20px 0;
    
}
a{
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    padding: 5px;
    border-bottom: 5px solid white;
    background: var(--black);
    border-radius: 10px;
    transition:.6s ;
}
li:hover{
    transform: scale(1.1);
}
.line{
    width: 95%;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to left , var(--black) 70% , var(--red) 90%);
    margin: 10px auto;
    border-bottom: 10px solid var(--red);
    transition: .7s;
}
.img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
    border: 4px solid var(--red);
    box-shadow: -10px 10px 20px -8px  var(--black);
    margin-left: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}
.info{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-self: flex-start;
}
h2{
    text-transform: capitalize;
    text-shadow: 0 0 10px var(--red);
    letter-spacing: 3px;
}
p{
    font-weight: 700;
    text-shadow: 0 0 10px white;
}
.line:hover{
    background: linear-gradient(to left , var(--black) 50% , var(--red) 70%);
}
@media (min-width:1024px){
    .line{
        padding: 20px;
    }
    .img{
        width: 160px;
        height: 160px;
        border-radius: 20px;
    }
    h2{
        font-size: 30px;
        
    }
    p{
        font-size: 20px;
    }
}
